{  
    "plugins": [  
            "@babel/plugin-proposal-optional-chaining"  ,
            "@babel/plugin-syntax-jsx"
        
    ],
    "presets": [
        ["@babel/preset-react", {
            "runtime": "automatic"
         }]
    ]  
}